// COLORS
$color-primary: #2f46d8;
$color-secondary: #6ed88e;
$color-background: #ffffff;

$color-white: #ffffff;
$color-grey: #f0f0f0;
$color-black: #000000;

// FONT
$logo-font-size: 3rem;
$default-font-size: 1.6rem;
$heading-font-size: 5rem;
$subheading-font-size: 3rem;
$link-font-size: 2rem;
$other-font-size: 1.5rem;